/* 
Color
#F0E9E2FF    #2D4235FF
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&family=Rubik&display=swap');


*{
	margin: 0;
	padding: 0;
	text-decoration: none;

    border-style: none;
   
}
body{
	background: #F0DFD1FF;
	min-height: 100vh;
    display: flex;
    align-items: center;
	font-family: Rubik;
	
}
.container{
 width: 550px;
 height: 400px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 flex-direction: row;
 border-radius: 25px; 
 background: White;

}

h1{
	font-size: 21px;
	margin: 20px 0;
}


.img-card{
 height: 100%;
}
.img-desktop{
	height: 100%;
	border-radius: 25px 0 0 25px;
}
.img-mobile{
	display: none;
}

.text-card{
	width: auto;
	padding: 0px 15px;
 }



.img-card:hove{

		filter: gray;
		/* IE6-9 */
		filter: grayscale(1);
		-webkit-filter: grayscale(1);
		/* Google Chrome, Safari 6+ & Opera 15+ */

}
.box-teg{
 margin: 10px 0;
}

.tag-1{
 font-size: 32px;
 font-weight: bold;
  color: #2D4235FF;
}

.tag-2{
	text-decoration: line-through;
	color: grey;
}
.btn{
	margin: 20px 0;
	width: 250px;
	height: 45px;
	border: none;
	color: #FFFFFF;
	background-color: #2D4235FF;
	border-radius: 10px;
	font-size: 16px;
}

.btn:hover{
	color: #FFFFFF;
	background-color: #5B856AFF;

   }

.attribution{
	display: none;
}

@media screen and (max-width: 600px) {
	.container{
		width: 90%;
		height: auto;
		flex-direction: column;
	}
	.img-card{
		height: auto;
	}
	.img-desktop{
		display: none;
	}
	.img-mobile{
		display: inline;
		width: 100%;
		border-radius: 25px 25px 0 0px;
	}

	.buton{
		width: 100%;
		text-align: center;
	}
}
  

